.btn-group-vertical {
    width: 100%;
}

.btn-group-vertical button {
    height: 50px;
}

nav{
    display: flex;
    width: 100%;
    height: 100%;

}
.container-fluid{
    
    align-items:flex-end;
}

.navbar-container{

    margin: 0%;
    display: flex;
    width: 100%;
   
}

img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.top-photo{
    justify-content: center;
    border: gray;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.alert{
    position: absolute;
}
.btn-close{
  position: relative;
}
