.btn-group-vertical {
    width: 100%;
}

.btn-group-vertical button {
    height: 50px;
}

.navbar-container{
    margin: 0%;
    display: left;
    justify-content: flex-start;
    
}

img {
   
    width: 100%;
    border-radius: 100%;
    max-width: 50%;
    align-content: center;
    justify-content: center;
}

.top-photo{
    justify-content: center;
    width: 1000px;
    background-color:aqua;
    align-content: center;
    display: inline;
}

